@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
}

@media (hover: hover) and (pointer: fine) {
  :root {
    cursor: url('/assets/cursor/default.svg'), auto;
  }
}

@media (hover: hover) and (pointer: fine) {
  p,
  span,
  input[type='text'],
  textarea,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .text-cursor {
    cursor: url('/assets/cursor/blink.svg'), text;
  }
}

@media (hover: hover) and (pointer: fine) {
  a,
  button,
  select,
  option,
  svg,
  option,
  input[type='radio'],
  ::-webkit-scrollbar,
  input[type='submit'],
  input[type='checkbox'],
  .pointer {
    cursor: url('/assets/cursor/pointer.svg'), pointer !important;
  }
}
