@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
}

@media (hover: hover) and (pointer: fine) {
  :root {
    cursor: url('/assets/cursor/default.svg'), auto;
  }
}

@layer components {
  .form-group {
    @apply w-full flex gap-4 items-center;

    label {
      @apply text-right font-semibold blink opacity-75;
    }

    div {
      @apply flex flex-wrap gap-2;
    }

    .input-btn {
      @apply pointer text-sm py-0.5 px-1 rounded-md font-semibold opacity-50;
    }

    .input-btn--selected {
      @apply bg-[#22222214] border-[1px] border-[#2222223c];
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  p,
  span,
  input[type='text'],
  textarea,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .blink {
    cursor: url('/assets/cursor/blink.svg'), text;
  }
}

@media (hover: hover) and (pointer: fine) {
  a,
  button,
  select,
  option,
  svg,
  option,
  input[type='radio'],
  ::-webkit-scrollbar,
  input[type='submit'],
  input[type='checkbox'],
  .pointer {
    cursor: url('/assets/cursor/pointer.svg'), pointer !important;
  }
}

input[type='color'] {
  background: '#fff';
  border-width: 0;
  border-style: none;
  border-color: transparent;
  padding: 0 0;
}
